* {
    box-sizing: content-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 1rem;
}
#students {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#students > div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 150px;
    height: 150px;
    margin: 10px;
    padding: 10px;
    background-color: #d6d6d6;
    position: relative;
    transition: all 0.5s ease-out;
}
#students > div > div {
    width: 150px;
    height: 150px;
    margin: 0;
    padding: 0;
}
#students > div.zoomed {
    position: fixed;
    margin: 0;
    padding: 5vh 2.5vw;
    overflow: hidden;
    width: 95vw;
    height: 90vh;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.9);
    z-index: 10;
}
#students > div.zoomed > div {
    width: 50%;
    height: 480px;
    position: relative;
}
#students > div.zoomed > div:fullscreen {
    width: 90%;
    height: 100%;
}
#students > div.zoomed > div:-webkit-full-screen {
    width: 90%;
    height: 100%;
}
#students > div.zoomed > div:-moz-full-screen {
    width: 90%;
    height: 100%;
}
#students > div.zoomed > div:-ms-fullscreen {
    width: 90%;
    height: 100%;
}
.action-buttons {
    display: none;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 0;
    left: 0;
    z-index: 11;
}
div.zoomed .action-buttons {
    display: block;
}
.action-buttons buttons {
    display: inline-block;
}
.fullscreen {
    display: none;
}
#students > div.zoomed .fullscreen {
    display: inline-block;
}
#students > div.zoomed :fullscreen .fullscreen {
    display: none;
}
#students > div.zoomed :-moz-full-screen .fullscreen {
    display: none;
}
#students > div.zoomed :-webkit-full-screen .fullscreen {
    display: none;
}
#students > div.zoomed :-ms-fullscreen .fullscreen {
    display: none;
}
button.zoom {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
}
button.zoomed {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 2;
    margin-left: -50px;
    width: 100px;
    cursor: pointer;
}
