button, .btn {
    cursor: pointer;
}
button:disabled, .btn:disabled {
    cursor: not-allowed;
}
#camera-view {
    height: 240px;
}
#other-sources {
    display: flex;
    flex-flow: row wrap;
}
#other-sources > div {
    height: 240px;
    width: 320px;
}
